*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
    
}

.cuntaier{
    height: 70vmin;
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    
    
}
.game{
    height: 60vmin;
     width: 60vmin;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1.5vmin;
    box-shadow:rgb(10,20,30);
    font-size: 8vmin;
    color:red;
    background-color: #ffffc7;
}

#restbtn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
.mess-countainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vmin;

}
#message{
    color: #fff;
    font-size: 8vmin;

}
#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
.hide{
    display: none;
}